//================================================
//
// Ant Design Buttons
//
//================================================

.nav-icon {
	vertical-align: 0.125em !important;
	padding-left: 0.25em !important;
}

.ant-nav-link {
	&:hover {
		background-color: rgba(253, 126, 20, 0.2) !important;
	}
}
