.pc-bordered-title {
	display: flex;
	align-items: center;
	margin-bottom: map-get($spacers, 4);
	font-size: $h5-font-size;
	text-transform: uppercase;

	&::after {
		content: '';
		flex: 1 1 auto;
		display: block;
		margin-left: 1rem;
		border-top: 1px solid;
		opacity: 0.8;
	}
}